header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e5e2e0;
}

body {
  background-image: url("backGroundImage.jpg");
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0px auto;
  font-size: 14px;
  color: #666666;
  font-size: 16px;
}

.Information, .avatar {
  vertical-align: top;
  display: none;
}

.Information {
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#container {
  width: 1041px;
  margin: 0px auto;
  min-height: 748px;
  text-align: center;
}

#logo {
  position: relative;
  top: -3px;
}



.userprofile {
  height: 131px;
  width: 151px;
  padding: 91px 31px 0;
  display: block;
  background-color: rgb(0, 128, 100);
  text-decoration: none;
  color: white;
}

h1 {
  padding: 6px;
}

.search {
  text-align: center;
}

.profile:hover {
  background-color: #00b368;
}